<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.QualityBenchActivity"
            android:exported="true"
            android:theme="@style/Theme.UpCap" />

        <activity
            android:name=".debug.SubtitleBenchActivity"
            android:exported="true"
            android:theme="@style/Theme.UpCap" />
    </application>

</manifest>
